<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Admin Dashboard</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <br>
            <h1>
                <a class="btn btn-secondary btn-lg" href="/logout" style="float: right;">Sign out</a>
            </h1>

            <br>
    
            <h2>Dashboard</h2>
            <br>
            <div>WELCOME ADMIN!!</div>
            <div><a class="btn btn-primary" href="/bookoffline" style="width: 150px;">Book offline customer</a></div>
            {%for message in get_flashed_messages() %}
            {%if message == "success"%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>updated!</strong> Successfully
            </div>
            {%else%}
                <div class="alert alert-danger" role="alert">
                {{message}}
                </div>
            {%endif%}
            {%endfor%}
            <br>
            {%if bookings%}
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Booking Date</th>
                        <th scope="col">status</th>
                    
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for booking in bookings%}
                        <tr>
                            <td>{{booking.booking_date}}</td>
                            {%if booking.status==True%}
                            <td>Active</td>
                            {%else%}
                            <td>Deactive</td>
                            {%endif%}    
                    
                            <td><a href="/deactive/{{booking.id}}" class="btn btn-outline-primary">deactive</a></td>
                            
                        </tr>
                        {%endfor%}
                
                    </tbody>
                  </table>
                  {%else%}
                  <div>No bookings</div>
                  {%endif%}
               
        </div>
        <script src={{ url_for('static',filename='js/jquery.min.js') }}></script>
        <script src={{ url_for('static',filename='js/bootstrap.min.js') }}></script>
        <script src={{ url_for('static',filename='js/fb.js') }}></script>
    </body>
</html>
