<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>DoctorQ</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/adminStyle.css') }}"> 
    </head>
<body>

  <div>
      <nav class="navbar" style="background-color: #fbfbfb;">
        <span class="navbar-brand mb-0 h1" style="margin-left: 10px; font-size: xx-large;">DoctorQ</span>
        <span><a class="btn btn-outline-primary" href="/login" style="margin-right:15px;">SignIn</a>
        <a class="btn btn-primary" href="/signup" style="margin-right: 15px;">SignUp</a></span>
      </nav>  
  </div>
  <br/>
  <br/>
  
  <div class="row center" >
    
    <div class="col-6 align-items-center justify-content-center" style="display: flex; flex-direction: column; border-right: solid 1px;">
        <h1>Book your doctor's appointment with few clicks</h1>
        <br/>
        <div><a class="btn btn-primary" href="/login" style="width: 150px;">Get Started</a></div>
    </div>
    
    <div class="col-6 align-items-center justify-content-center" style="display: grid;"">
      
      <div><a rel='nofollow' href='https://www.qr-code-generator.com' border='0' style='cursor:default'><img src='https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2F127.0.0.1%3A8000%2Fjoin&chs=180x180&choe=UTF-8&chld=L|2' alt=''></a>
        <h1>SCAN ME</h1>
      
      </div>
      
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
  <footer class="foot">
    <div class="text-muted"> © 2022 Dept. Of Computer Science, MBM Jodhpur </div>
  </footer>
</html>